[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
aws-lambda-powertools = "*"
boto3 = "*"
aws-lambda-typing = "*"

[packages.boto3-stubs]
extras = [ "sqs", "lambda",]
